[submodule "biwit-tool"]
	path = biwit-tool
	url = https://github.com/Abraxas-365/biwit-tool
[submodule "biwit-coree"]
	path = biwit-coree
	url = https://github.com/Abraxas-365/biwit-core
[submodule "biwit-loader"]
	path = biwit-loader
	url = https://github.com/Abraxas-365/biwit-loader
[submodule "biwit-core"]
	path = biwit-core
	url = https://github.com/Abraxas-365/biwit-core
[submodule "biwit-front"]
	path = biwit-front
	url = https://github.com/Abraxas-365/biwit-front
[submodule "biwit-audio-upload"]
	path = biwit-audio-upload
	url = https://github.com/Abraxas-365/biwit-audio-upload
